.task-container {
    background-color: #11999E;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #F0F0F0;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.buttons-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove-task-button, .see-task-details-button {
    background-color: #11999E;
    border: none;
    font-size: 24px;
    color: #FFF;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .25s;
}

.remove-task-button:hover,
.see-task-details-button:hover {
    color: #30E3CA;
}